div {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}

h1 {
    background-color: pink;
    width: 100px;

}

#one {
    background-color: darkgrey;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#two {
    background-color: antiquewhite;
    border-color: darkorchid;
    border-style: dashed;
    border-width: 2px;
    border-left-color: red;
}

#three {
    border: 4px solid black;
}